.navbar-custom{
    background: #1565c0;
}
.navbar-custom a{
    color: #fff;
}
#main .card h2.post-title{
    font-size: 1.5em;
}
#main .card h5.post-username{
    font-size: 1em;
    margin: 0;
}
#main .card span{
    font-size: 14px;
}

/**
----------- AUTH -----------
*/
.auth{
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("../../img/sosial/foto10.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-body{
    width: 450px;
    margin: 0 auto;
    padding: 120px 0;
}
.auth-body .auth-title h2{
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 3em;
}
.auth-body .auth-register input{
    border-radius: 40px;
    padding: 25px;
}
.auth-body label{
    color: #fff;
}
.auth .auth-btn{
    background: #fff;
    border-radius: 40px;
    color: #000;
    height: 50px;
    transition: all 0.5s;
}
.auth .auth-btn:hover{
    background: #03a9f4;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
    font-weight: 700;
}
.auth .auth-footer p{
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.auth .auth-footer p a{
    color: #fff;
    text-transform: uppercase;
}